<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>story 8</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="{% static 'cariBuku.js' %}"></script>
  <style>
  table.table-bordered{
    border:1px solid black;
  }
  table.table-bordered > thead > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
}
  </style>
</head>



<body background="{% static 'images/images.jpg' %}">
    <div class="search container w-50">

       <h1 class="mt-5" style="text-align: center; color: ghostwhite;">Cari buku mu disini!!!</h1>

       <form class="form-inline d-flex justify-content-center">

            <div class="form-group mx-sm-3 mb-2 mt-3">
              <input style="text-align: center;" id="kolomSearchBuku" type="text" class="searchTerm form-control " placeholder="Cari buku disini">
            </div>

      </form>

      <div style="text-align: center;" class="m-3">
      <button id="btnSubmit" type="submit" class="searchButton btn btn-primary" style="text-align: center;">submit</button>
      </div>

        <table id = "tableBuku" class="table table-bordered">
         <thead style="background-color:rgb(59, 79, 192);">
             <tr >
                 <th scope="col" style="text-align: center;">Judul</th>
                 <th scope="col" style="text-align: center;">Penulis</th>
                 <th scope="col" style="text-align: center;">Foto</th>
             </tr>
         </thead>
         <tbody id = "badanTableBuku" style="background-color:rgb(131, 149, 250);">
             
         </tbody>
     </table>
     </div>


</body>
</html>
